body {
	background-image: url(../Images/AchtergrondVlaggen.jpg);
	background-repeat: no-repeat;
	background-position: center 80px;
	background-color: #000000;

}

html {
	overflow: scroll;

}



#container {
	height: 20px;
	width: 920px;
	position: absolute;
	left: 50%;
	margin-left: -460px;
	background-color: #000000;
	top: 20px;
	border: 2px none #000000;
}
#Achtergrondfoto_1 {
	background-image: url(../Images/IMG_1110.jpg);
	position: absolute;
	height: 695px;
	width: 920px;
	z-index: 200;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #FFCC00;
	margin: 0px;
	padding: 0px;
}
#Achtergrondfoto_2 {
	background-image: url(../Images/IMG_1100.jpg);
	position: absolute;
	height: 695px;
	width: 920px;
	z-index: 200;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #FFCC00;
	margin: 0px;
	padding: 0px;
}
#Achtergrondfoto_3 {
	background-image: url(../Images/IMG_1090.jpg);
	position: absolute;
	height: 695px;
	width: 920px;
	z-index: 200;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #FFCC00;
	margin: 0px;
	padding: 0px;
}
#Achtergrondfoto_4 {
	background-image: url(../Images/IMG_1120.jpg);
	position: absolute;
	height: 695px;
	width: 920px;
	z-index: 200;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #FFCC00;
	margin: 0px;
	padding: 0px;
}
#Achtergrondfoto_5 {
	background-image: url(../Images/IMG_1210.jpg);
	position: absolute;
	height: 695px;
	width: 920px;
	z-index: 200;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #FFCC00;
	margin: 0px;
	padding: 0px;
}

#Logo {
	background-image: url(../Images/Logo/Logo_2.jpg);
	background-repeat: no-repeat;
	background-color: #CC9900;
	position: absolute;
	height: 100px;
	width: 900px;
	z-index: 300;
	background-position: 40px;
	top: 10px;
	left: 10px;
	margin: 0px;
	padding: 0px;
}
#Opleidingsfonds {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #000000;
	text-align: center;
	height: 1.5em;
	left: 10px;
	top: 100px;
	position: absolute;
	background-color: #CC9900;
	z-index: 400;
	width: 900px;
	line-height: normal;
	font-weight: normal;
}
#Opleidingsfonds_Engels {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #000000;
	text-align: center;
	height: 1.5em;
	left: 10px;
	top: 100px;
	position: absolute;
	background-color: #CC9900;
	z-index: 400;
	width: 900px;
	line-height: normal;
	font-weight: normal;
}


#Tekstvertikaal {
	text-decoration: none;
	position: absolute;
	height: auto;
	width: 480px;
	top: 365px;
	z-index: 400;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	left: 201px;
	background-color: #CC9900;
	border: 10px none #990000;
	font: normal 0.8em/1.3em Tahoma, Geneva, sans-serif;
}
#Tekstvertikaal a:link {
	font-weight: normal;
	text-decoration: underline;
	border: 0px none #585858;
	color: #000000;
}
#Tekstvertikaal a:visited {
	border: 0px none #585858;
	color: #000000;
}
#Tekstvertikaal a:hover {
	border: 0px none #585858;
	color: #FFFFFF;
}
#Tekstvertikaal       p      {
	background-image: url(../Images/GeelStreepje.gif);
	background-repeat: no-repeat;
	background-position: left 11px;
	z-index: 400;
	text-indent: 30px;
}

#Tekstvertikaal li {
	margin-right: 20px;
	list-style-type: square;
}


h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 15px;
}
h2 {
	color: #000000;
	padding-top: 10px;
	margin-bottom: -10px;
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
}
h3 {
	font-size: 1em;
	font-style: italic;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bolder;
	color: #F00;
	text-align: center;
}

table.Formulier td    {
	height: 1.5em;
	margin: 0px;
}

.FotoRechts {
	margin-bottom: 10px;
	margin-left: 15px;
}


.Formulier {
	font-family: Tahoma;
	font-size: 1em;
	font-weight: normal;
	color: #FFFFFF;
	width: 100%;
	background-color: #CC6600;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 0px;
}

.FormulierInvulregel {
;
	width: 99%;
	border: 1px none #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	margin-top: 0px;
}

#Linkernavigatie {
	font-family: Tahoma;
	font-size: 0.8em;
	line-height: 1.2em;
	font-weight: normal;
	text-decoration: none;
	position: absolute;
	width: 696px;
	top: 325px;
	z-index: 300;
	left: 10px;
}
#LinkerNav {
	position: absolute;
	z-index: 400;
	left: 10px;
	top: 40px;
	width: 170px;
	overflow: hidden;
}

.LinkerNav {
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	font-style: normal;
	text-align: left;
	text-decoration: none;
	height: 18px;
	color: #FFFFFF;
	text-indent: 20px;
	display: block;
	margin: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-image: url(../Images/Navigatie.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 1.3em;
	width: 170px;
}
.LinkerNav a:link {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
.LinkerNav a:visited {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
.LinkerNav a:hover {
	color: #000000;
	text-decoration: none;
	display: block;
	height: auto;
	margin-right: 0px;
	padding-right: 5px;
	background-image: url(../Images/Navigatie-02.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#LinkernavigatieAfsluitingRechts {
	font-family: Tahoma;
	font-size: 0.8em;
	line-height: 1.2em;
	font-weight: normal;
	text-decoration: none;
	position: absolute;
	height: 40px;
	width: 189px;
	top: 325px;
	right: 0px;
	z-index: 300;
	left: 721px;
	border: 1px none #666666;
	overflow: hidden;
}
#Vlaggen {
	position: absolute;
	height: 20px;
	width: 94px;
	top: 336px;
	right: 0px;
	z-index: 310;
	left: 795px;
	border: 1px none #666666;
	overflow: hidden;
}

#DoorzichtigWit {
	position: absolute;
	height: 50px;
	width: 900px;
	z-index: 300;
	top: 275px;
	left: 10px;
}
#Broodkruimel {
	left: 221px;
	top: 336px;
	position: absolute;
	z-index: 500;
	height: 20px;
	width: 560px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.7em;
	color: #333333;
	font-weight: normal;
}
#Broodkruimel  a:link   {
	text-decoration: none;
	color: #333333;
}
#Broodkruimel  a:visited   {
	text-decoration: none;
	color: #333333;
}
#Broodkruimel  a:hover   {
	text-decoration: underline;
	width: auto;
	color: #FFFFFF;
}
#Footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	width: 520px;
	position: relative;
	bottom: 0px;
	font-weight: normal;
	left: 0px;
	margin-bottom: 0px;
	text-align: center;
	background-image: url(../Images/Untitled-2.gif);
	margin-top: 10px;
	clear: both;
	line-height: normal;
	vertical-align: middle;
	padding-top: 8px;
	margin-left: -20px;
	margin-right: -20px;
}
#Footer a:link {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
#Footer a:visited {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
#Footer a:hover {
	font-family: Tahoma, Geneva, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
